h1{
	text-align: center;
	font-weight: bold;
	color:white;
	background-color: black;



}
h2{
	text-align: center;
	color:white;
	font-style: italic;
	font-weight: bold;
	font-size: 35px;
}
body{
	background-image:url("bg2.jpeg");
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;}

section{
	font-size: 20px;
	color:white;
	font-weight: bold;

}
video{
	object-fit: cover;
	border : 3px solid black;
}

p{
	font-size: 20px;
	color:white;
	font-weight: bold;}

	details{
	font-size: 20px;
	color:white;
	font-weight: bold;

}